html
    head
        style
            include style.css
        //- link(rel="stylesheet" type="text/css" href="../styles/style.css")
        title= title
    body
        h1
            | String Manipulation
        form(action= '/manipulation', method='POST')
            label(for="str")
            div
                textarea(type="text", name="str", id="str", rows="10", cols="10")
            div
                input(type="submit", value="Analyse")